<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="dependents">Dependants:</label><br>
        <input type="number" min="0" max="100" name ="dependents"><br>
        <label for="applicantincome">Applicantincome:</label><br>
        <input type="number" min="0" name ="applicantincome"><br>
        <label for="coapplicantincome">Coapplicatincome:</label><br>
        <input type="number" min="0" name ="coapplicantincome"><br>
        <label for="loanamt">Loanamt:</label><br>
        <input type="number" min="0" name ="loanamt"><br>
        <label for="loanterm">Loanterm:</label><br>
        <input type="number" min="0" name ="loanterm"><br>
        <label for="credithistory">Credit history:</label><br>
        <input type="number" min="0" name ="credithistory"><br>
        <label for="gender">Gender :</label>
        <select id="gender" name="gender">
        <option value="Male">male</option>
        <option value="Female">female</option></select>
        <br>
        <label for="married">married :</label>
        <select id="married" name="married">
        <option value="Yes">yes</option>
        <option value="No">no</option></select>
        <br>
        <label for="graduatededucation">education :</label>
        <select id="graduatededucation" name="graduatededucation">
        <option value="Graduated">Graduated</option>
        <option value="Not_Graduated">Not_Graduated</option></select>
        <br>
        <label for="selfemployed">selfemployed :</label>
        <select id="selfemployed" name="selfemployed">
        <option value="Yes">Yes</option>
        <option value="No">No</option></select>
        <br>
        <label for="area">area :</label>
        <select id="area" name="area">
        <option value="Rural">Rural</option>
        <option value="Semiurban">Semiurban</option>
        <option value="Urban">Urban</option></select>
        <br>

        <input type="submit">
        
      </form>
      
</body>
</html>